
.site-main {
    padding: 1em;
    max-width: $query__small;
    margin: 0 auto;
        
    @media screen and (min-width: $query__small){
        padding: 1em 2em;
        max-width: $query__medium;
        
        
    }
    
    @media screen and (min-width: $query__medium){
        padding: 1em 2em;
         max-width: $query__large;
        
    }
    
    @media screen and (min-width: $query__large){
        padding: 2em 2em;
         max-width: 100em;
        
    }
}