/* styles related to header */

.site-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    font-family: $font__meta;
    color: $color__text-header;
    background-color: $color__background-header;
    border-bottom: 1px solid black;
    padding: 1em;
      
    @media screen and (min-width: $query__small){
        padding: 1 em 2em;
        justify-content: space-between;
    }
}

 .site-branding {
     display: flex;
     justify-content: center;
     min-height: 65px;
     flex-wrap: wrap;  
    flex: 1 0 auto; //1 it can grow 0 it cna not shring, auto size is whatever content is   
    
    @media screen and (min-width: $query__small){
        justify-content: flex-start;
        align-items: flex-end;
    }
 } 
 
.site-branding__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    line-height: 1;
    @media screen and (min-width: $query__small){
        height: 65px;
        flex-direction: row;
        align-items: flex-end;
    }
    
    
}

.custom-logo-link{
    margin-right: 1em;
    flex-shrink: 0;
    img {
        display: block;       
        height: 65px;
        width: auto;
      
    }
}


.site-title {
    margin: 0;
    padding: 0;
    line-heigth: 1em;
    font-weight: 900;
    a {
		color: white;
		text-decoration: none;

		&:hover,
		&:focus {
			text-decoration: none;
		}
    }   
}

.site-description {
    padding-top: 10px;
    margin: 0;
    font-size: .9em;
    font-style: italic;
    font-weight: 700;
    word-break: keep-all;
}

.searchandmenu {
    display: flex;
    flex-flow: column wrap;
    min-height: 65px;
    flex: 0 0 auto; //1 it can grow 0 it cna not shring, auto size is whatever content is  
    
        
    @media screen and (min-width: $query__small){
        justify-content: space-between;
        flex-flow: row nowrap;
        align-items: flex-end;
        
    }
        
    form.searchform {
        
       margin-top: 10px;
        margin-right: 20px;
        position: relative;
       
    }
        
    form.searchform input {
        width: 65px;
        border: 1px solid $color__background-header;
        background-color: transparent;
        -webkit-transition: width 0.3s ease-in-out;
           transition: width 0.3s ease-in-out;
              
        
        &:focus{
           border: 1px solid #18b5e0;
           width: 200px;
            
           
        }
        
    }
      
    form.searchform .fa-search {
        position: absolute;
       right: 0;
       top: 0;
       padding: 7px 7px 0 0;
        pointer-events: none;       
    }
    
    button.menu-toggle {
        
        margin-top: 10px;
        padding: 0;  
        
        }
}
/*
Header Menu
*/
@import "header-menu";