.main-navigation {
	
	font-family: $font__meta;
	font-size: 100%;
	border: 1px solid black;
        
        

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-top: 1em;
		padding-left: 0;

		li {
			margin: 0 1px 1px 0;
		}

			&:hover > ul,
			&:focus > ul {
				left: auto;
			}

		a {
			color: $color__drpdwn_text; //menu dropdown listitem color
		}

		ul {
			display: none;
			top: 1.5em;
			z-index: 99999;
			margin-top: 1px;
			margin-right: -1px;
			padding-top: 0;

			ul {
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}

				a {
					padding-left: .8em;

					&:before {
						content: "- ";
					}
				}

				li {

					a {
						padding-left: 1.4em;

					}

				}

			}

			a {

			}

		}


	}

	li {
		position: relative;
	}

	a {
		display: inline-block;
		width: 100%;
		padding: .5em 0;
		text-decoration: none;
		color: $color__text-main;
	}

	a:hover,
	a:focus {
		text-decoration: underline;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}

	.menu-item-has-children,
	.page_item_has_children {
		min-width: 218px;
	}
	.menu-item-has-children > a,
	.page_item_has_children > a {
		padding-right: 10em;
	}
}

button.dropdown-toggle {        
	font-size: 0.8em;
	border: none;
	background: inherit;
	line-height: 1em;
       
	//padding: .4em 1em .4em .5em;
        
}
.menu-toggle {
	
	width: 100%;
        font-size: 125%;
	text-transform: uppercase;
	color: $color__button_drpdwn;
	background-color: $color__background-header;
	border: none;
	border-radius: 0;       
}

/* Toggle small menu and children on */
.toggled-on ul,
.children.toggled-on,
.sub-menu.toggled-on {
	display: block;
}

