/* styles related to header */

.site-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    font-family: $font__meta;
    color: $color__text-header;
    background-color: $color__background-header;
    border-bottom: 1px solid black;
    padding: 1em;
    @media screen and (max-width: 419px){
        justify-content: center;
    }
    
    @media screen and (min-width: $query__small){
        padding: 1 em 2em;
    }
}

 .site-branding {
     display: flex;
     min-height: 65px;
     flex-wrap: wrap;  
    flex: 1 0 auto; //1 it can grow 0 it cna not shring, auto size is whatever content is    
    @media screen and (max-width: 419px){
        justify-content: center;
    }
 }

.site-branding__text {
    display: flex;
    flex-direction: column;
    justify-content: end;
    
    line-height: 1;
    @media screen and (min-width: $query__small){
        height: 65px;
    }
    
    
}

.custom-logo-link{
    margin-right: 1em;
    flex-shrink: 0;
    img {
        display: block;       
        height: 65px;
        width: auto;
      
    }
}


.site-title {
    margin: 0;
    padding: 0;
    line-heigth: 1em;
    font-weight: 900;
    a {
		color: white;
		text-decoration: none;

		&:hover,
		&:focus {
			text-decoration: none;
		}
    }   
}

.site-description{
    padding-top: 10px;
    margin: 0;
    font-size: .9em;
    font-style: italic;
    font-weight: 700;
}

.main-navigation{
    
    display: flex;
    flex-direction: column;
    justify-content: end;
    
    button.menu-toggle{
        
        padding: 0;
        margin: 0;
        padding-top: 10px;
    }
}
/*
Header Menu
*/
@import "header-menu";